_pycache_/
.DS_Store
*pycache*
*.zip
*.err
*long depreciated/depreciated mcsolve w_r = 3/
Miniconda3-latest-Linux-x86_64.sh
*mcsolve_2.65_g0.13_a0.003_10level_qbt_state0.pkl
*mcsolve_2.65_g0.13_a0.003_10level_qbt_state1.pkl
*mcsolve_2.65_g0.13_a0.003_10level_qbt_state2.pkl
*mcsolve_2.65_g0.13_a0.003_10level_qbt_state3.pkl
*mcsolve_2.65_g0.13_a0.003_10level_qbt_state4.pkl
integer flux point fluxonium/pickles/mcsolve_2.65_g0.13_a0.003_10level_qbt_state0_kappa0.004.pkl
integer flux point fluxonium/pickles/mcsolve_2.65_g0.13_a0.003_10level_qbt_state2_kappa0.004.pkl
integer flux point fluxonium/pickles/mcsolve_2.65_g0.13_a0.003_10level_qbt_state4_kappa0.004.pkl
integer flux point fluxonium/pickles/mcsolve_2.65_g0.13_a0.003_10level_qbt_state3_kappa0.004.pkl
integer flux point fluxonium/pickles/mcsolve_2.65_g0.13_a0.003_10level_qbt_state1_kappa0.004.pkl
*mcsolve_three_outcome_state0.pkl
*mcsolve_three_outcome_state1.pkl
*mcsolve_three_outcome_state2.pkl
*mcsolve_three_outcome_state3.pkl
*mcsolve_three_outcome_state4.pkl
*mcsolve_three_outcome_state5.pkl
*mcsolve_three_outcome_state6.pkl
*mcsolve_three_outcome_state7.pkl
*mcsolve_three_outcome_state0_233.pkl
*mcsolve_three_outcome_state1_233.pkl
*mcsolve_three_outcome_state2_233.pkl
*mcsolve_three_outcome_state3_233.pkl
*mcsolve_three_outcome_state4_233.pkl
*mcsolve_three_outcome_state5_233.pkl
*mcsolve_three_outcome_state6_233.pkl
*mcsolve_three_outcome_state7_233.pkl
integer flux point fluxonium/pickles/mcsolve_three_outcome_state4_233_summed_two_level_non_partial_trace.pkl
integer flux point fluxonium/pickles/mcsolve_three_outcome_state5_233_summed_two_level_non_partial_trace.pkl
integer flux point fluxonium/pickles/mesolve_final_first12.pkl
integer flux point fluxonium/pickles/mesolve_final_next8.pkl
integer flux point fluxonium/pickles/mesolve_final_combined.pkl
integer flux point fluxonium/pickles/mesolve_temp_1648_see_domi_frequency.pkl
integer flux point fluxonium/pickles/mesolve_temp_1650_see_domi_frequency.pkl
integer flux point fluxonium/pickles/mesolve_temp_kappa1em3_1649_compu_see_fidelity.pkl
integer flux point fluxonium/pickles/mesolve_final_combined.pkl
integer flux point fluxonium/pickles/mesolve_temp_1649_see_domi_frequency.pkl
integer flux point fluxonium/pickles/mesolve_wd1649_unitary_large_dim.pkl
integer flux point fluxonium/pickles/mesolve_wd1649_unitary_large_dim.pkl
integer flux point fluxonium/pickles/mesolve_wd1649_final_computational_1em3.pkl
integer flux point fluxonium/pickles/mesolve_wd1649_final_computational_5em4.pkl
integer flux point fluxonium/pickles/mesolve_wd1649_final_leakage.pkl
integer flux point fluxonium/pickles/mesolve_wd1649_unitary_large_dim.pkl
integer flux point fluxonium/pickles/mesolve_wd1649_unitary_large_dim.pkl
integer flux point fluxonium/pickles/mesolve_temp_1649_feb26_new_driven_op.pkl
integer flux point fluxonium/pickles/mesolve_wd1649_final_computational_new_op.pkl
integer flux point fluxonium/pickles/optimize_ol_phases_unitary_new_driven_op.pkl
integer flux point fluxonium/pickles/optimize_ol_phases_new_op.pkl
integer flux point fluxonium/pickles/mesolve_wd1649_final_computational_new_driven_op.pkl
integer flux point fluxonium/pickles/12_sesolve.pkl
integer flux point fluxonium/pickles/mesolve_temp_1649_feb26_new_driven_op_big_amp.pkl
integer flux point fluxonium/pickles/12_mesolve_computational.pkl
integer flux point fluxonium/pickles/12_response.pkl
integer flux point fluxonium/pickles/12_mesolve_leakage.pkl
integer flux point fluxonium/pickles/12_mesolve_leakage.pkl
integer flux point fluxonium/pickles/12_mesolve_leakage.pkl
integer flux point fluxonium/pickles/12_mesolve_leakage_1734.pkl
integer flux point fluxonium/pickles/12_mesolve_computational_1734.pkl
integer flux point fluxonium/pickles/sesolve_large_dim_list.pkl
integer flux point fluxonium/pickles/12_mesolve_computational_unitary.pkl
integer flux point fluxonium/pickles/large_dim.pkl
integer flux point fluxonium/pickles/12_mesolve_computational_unitary_rise.pkl
integer flux point fluxonium/pickles/12_mesolve_computational_Pauli.pkl
