_pycache_/
.DS_Store
*pycache*
*.zip
*mcsolve_result*
*mcsolve_input*
mcsolve_result*/
*search_result*/
*temp_tomo*/
*mcsolve large dim*/
integer flux point fluxonium/paper/mcsolve_tomo_results.pkl
integer flux point fluxonium/paper/mcsolve_detection_results.pkl
integer flux point fluxonium/paper/mcsolve_detection_results_kappa1e-3.pkl
integer flux point fluxonium/paper/mcsolve_detection_results_kappa2e-3.pkl
integer flux point fluxonium/paper/mcsolve_detection_results_kappa5e-3.pkl
integer flux point fluxonium/paper/mcsolve_tomo_results_kappa1e-3.pkl
integer flux point fluxonium/paper/mcsolve_tomo_results_kappa1e-3_15levels.pkl
integer flux point fluxonium/paper/mcsolve_tomo_results_kappa2e-3.pkl
integer flux point fluxonium/paper/mcsolve_tomo_results_kappa5e-3.pkl
